[submodule "shibari"]
	path = shibari
	url = https://github.com/jnastarot/shibari.git
[submodule "enma_pe"]
	path = enma_pe
	url = https://github.com/jnastarot/enma_pe.git
[submodule "capstone"]
	path = capstone
	url = https://github.com/jnastarot/capstone.git
[submodule "fukutasm"]
	path = fukutasm
	url = https://github.com/jnastarot/fukutasm.git
